// font
$font-light: 300;
$font-regular: 400;
$font-meduimt: 500;
$font-bold: 700;


// color
$text-color: hsla(200, 24%, 25%, 1);
$red-color: hsla(358, 83%, 60%, 1);
$black-color: hsla(199, 26%, 16%, 1);
$white-color: hsla(0, 0%, 100%, 1);

// font-size
$font-size-h1: 3.5rem;
$font-size-h2: 3rem;
$font-size-h3: 2.475rem;
$font-size-h4: 1.75rem;
$font-size-h5: 1.5rem;
$font-size-h6: 1.125rem ;

// @media (max-width: 768px){
//     $font-size-h1: 32px;
//     $font-size-h2: 32px ;
//     $font-size-h3: 30px;
//     $font-size-h4: 28px;
//     $font-size-h5: 24px;
//     $font-size-h6: 18px;
// }