@import './_var';

@media (max-width: 1200px){
    
    .container{
        padding: 0 20px;
    }
}
@media (max-width: 1024px){
    .header{
        
        // &__logo{
        // //    margin-right: auto;
        //     img{
               
        //     }
        // }
    
        // &__nav{
        //     //  display: none;
        //     &__list{
        //         li{
        //             a{
                      
        //             }
        //         }
        //     }
        // }
    
        // &__sotsial{
        //     li{
        //         a{
                   
                    
        //         }
                
        //     }
        // }
        
    }
}


@media (max-width: 950px){
    html{
        font-size: 14px;
    }
    .header{
        &__nav{
            li {
                a{
                    padding: 0 10px;

                }
            }
        }
    }
   main{
    .foto{
        
        &__grid{
            grid-template-columns: 1fr 1fr ;
        }

    }
   }
}
@media (max-width: 768px){
   
    .header{
        padding: 5px;
        &__logo{
            margin-right: auto;
        }
        &__nav{
            position: absolute;
            right: -100%;
            top: 60px;
            min-height: 100vh ;
            // width: 100vw;
            transition: .5s;
            z-index: 3;
            display: flex;
            &__list{
               background-color: $white-color;
                position: relative;
                width: 50vw;
                flex-direction: column;
                align-items: flex-start;

            li {
                    width: 100%;
                    transition: .3s;
                    a{
                        display: block;
                        padding: 15px 7px;
                        margin-left: 40px ;
                        color: $black-color;

                    }
                    &:hover{
                        background-color: gray;
                    }
                }
           }
           .navbar__left{
               width: 50vw;
           }
        }
        .navbar__active{
            right: 0 !important;
            
        }

        &__sotsial{
            // display: none;
            .burger{
                display: flex;
            }
        }
    }
    .box_header{
        height: 56px;
    }
    main{
        .wrap{
           flex-direction: column;
        }
        .hero {
            // margin-top: 50px;
            padding: 0 0 0;
            &__flex{
                &__item{
                    
                    &:first-child{
                        order: 2;
                        width: 100%;
                        padding: 0 0 0;
                    }
                    &:last-child{
                        order: 1;
                        // height: 300px;
                    }
                }
            }
        }
        .haqimda{
            &__flex{
                gap: 10px;

                &__item{
                    width: 100%;
                    p{
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}
@media (max-width: 576px) {
    main{
        .foto{
            
            &__grid{
                grid-template-columns: 1fr;
                &__item{
                    max-width: 100%;
                }
            }
    
        }
       }
}
@media (max-width: 425px){
   main{

    .haqimda{
        padding: 5px;
        &__flex{

            &__item{
                width: 100vw;
            }
        }
    }
   }
}