@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

ul {
  list-style: none;
}

a {
  color: #1e2d33;
  text-decoration: none;
}

img {
  width: 100%;
}

input, button {
  border: none;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 130%;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.475rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.125rem;
}

span {
  color: #ee444a;
}

p {
  font-weight: 400;
  line-height: 150%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  padding: 22px 0;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #fff;
  z-index: 999;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.header__logo {
  background-color: white;
  min-width: 60px;
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
  height: 56px;
}

.header__logo img {
  height: 100%;
}

.header__nav__list li a {
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 25px;
  color: #1e2d33;
}

.header__sotsial li a {
  padding: 0 12px;
  width: 50px;
  display: inline-block;
}

.header__sotsial li .telegram {
  color: #279FDA;
}

.header__sotsial li .instagram {
  color: #D8226B;
}

.header__sotsial li .email {
  color: aqua;
}

.header__sotsial .burger {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  padding: 5px;
  display: none;
}

.header__sotsial .burger span {
  border-radius: 5px;
  width: 80%;
  height: 3px;
  display: inline-block;
  background-color: #1e2d33;
}

.box_header {
  height: 100px;
  width: 100%;
  z-index: 9999;
  background-color: red;
}

main .hero {
  padding: 50px 0 100px;
}

main .hero__flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .hero__flex__item {
  width: 50%;
  padding: 40px 20px 0 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
}

main .hero__flex__item h1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .hero__flex__item p {
  margin: 24px 0;
  font-size: 20px;
}

main .hero__flex__item:last-child {
  background-image: url("https://us.123rf.com/450wm/sn333g/sn333g1712/sn333g171200068/91969766-mathematics-line-colorful-horizontal-banner-.jpg?ver=6");
  width: 100vw;
  overflow: hidden;
}

main .hero__flex__item img {
  width: auto;
  height: auto;
  -webkit-transform: skew(3);
          transform: skew(3);
  -webkit-animation-name: img;
          animation-name: img;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

@-webkit-keyframes img {
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}

@keyframes img {
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}

main .haqimda {
  background-color: #F7F7F7;
  padding: 40px 0;
}

main .haqimda__flex {
  gap: 30px;
}

main .haqimda__flex__item {
  width: 50%;
}

main .haqimda__flex__item:first-child {
  overflow: hidden;
  height: 400px;
}

main .haqimda__flex__item:first-child img {
  min-height: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  min-width: 100%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main .haqimda__flex__item:first-child img:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

main .haqimda__flex__item:last-child {
  padding: 10px;
}

main .haqimda__flex__item p {
  margin: 30px 0px 0px 10px;
  padding-right: 10px;
  font-size: 20px;
}

main .foto h3 {
  padding: 20px 0;
  text-align: center;
}

main .foto__grid {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

main .foto__grid__item {
  max-width: 400px;
  max-height: 267px;
  position: relative;
  overflow: hidden;
}

main .foto__grid__item img {
  -webkit-transition: .4s;
  transition: .4s;
  position: relative;
}

main .foto__grid__item img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main .foto__grid__item span {
  position: absolute;
  background-color: rgba(36, 219, 36, 0.918);
  text-transform: capitalize;
  bottom: 10px;
  left: 0;
  padding: 3px 10px  3px 20px;
  color: white;
  z-index: 33;
}

footer {
  min-height: 50vh;
}
/*# sourceMappingURL=staly.css.map */